/example/example_data
/examples_SOLPH_0.1/scenarios
/examples_SOLPH_0.1/data
/.spyderworkspace
/.spyderproject
/doc/Makefile
*.sh
*.p
*.py[cod]
*.py.orig
*.nja
*.odb
*.textile
*.log
*.svg
*.png
*.pdf
*.lp
.idea
!tests/lp_files/*.lp
doc/_build/
dist/*
oemof.egg-info/*
oemof_base.egg-info/*
